@import 'tailwindcss';
@import 'primeicons/primeicons';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
}

/* FIXED HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem 2rem;
}

/* MAIN CONTENT BELOW HEADER */
main {
  margin-top: 80px; /* equals header height + spacing */
  width: 100%;
  max-width: 1200px;
  padding: 1rem 2rem;
  display: block;
  overflow: auto;
}
